/* accueil.css */

h1 {
    font-size: 48px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    color: #503030;
    text-shadow: 2px 2px 4px rgba(113, 80, 80, 0.5);
    text-align: center;
}

/* Background image */
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Create a container for the main content */
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Style the footer */
footer {
    background-color: #000000;
    color: #fff;
    padding: 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
